/*
    This CSS file contains style elements for the table
    in order for it to match the colour of what it represents.
    For tasks the colour is purple and for notifications the colour is blue.
 */

.table-view .column-header {
    -fx-background-color: #8E44AD;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 5px;
}

.table-view .column-header .label {
    -fx-text-fill: white;
}

.table-view .table-cell {
    -fx-alignment: CENTER;
}

.table-row-cell:selected {
    -fx-background-color: #d2b7f4;
}

.notification-table .column-header {
    -fx-background-color: #2980B9;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 5px;
}

.notification-table .table-row-cell:selected {
    -fx-background-color: #B3E5FC;
}

.table-row-cell:selected .text {
    -fx-fill: black;
}

.table-view {
    -fx-max-width: -1;
    -fx-border-radius: 8;
}